.about {
    padding-top: 84px;
    padding-bottom: 84px;
}
.container {
}
.about-container {
}
.about__pre-title {
    // font-weight: 600;
    // font-size: 11px;
    // line-height: 1.36;
    // letter-spacing: 0.1em;
    // text-transform: uppercase;
    // color: $mainTitleColor;

    // margin-bottom: 20px;
}

.about__title {
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;

    margin-bottom: 20px;
}
.about__after-title {
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;

    margin-bottom: 20px;
}
.about__text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;

    margin-bottom: 40px;
}
.about__btn {
}
