.masters {
    background-color: #f7f7f7;
    padding: 84px 0px;
    @media screen and (min-width: $tabletWidth) {
        padding: 100px 0px;
    }
    @media screen and (min-width: $desktopWidth) {
        padding: 130px 0px;
    }

    .container {
        @media screen and (min-width: $tabletWidth) {
            width: 480px;
        }
        @media screen and (min-width: $desktopWidth) {
            width: 1200px;
        }
    }
}
// задаем индивидуальные условия контейнера в секции masters

.masters__title {
    margin-bottom: 44px;
}

.masters-list {
    @media screen and (min-width: $desktopWidth) {
        display: flex;
        justify-content: space-between;
        margin-right: -30px;
    }
}
.masters-card {
    width: 100%;
    &:not(:last-child) {
        @media screen and (max-width: 1199px) {
            margin-bottom: 64px;
        }
    }
    @media screen and (min-width: $desktopWidth) {
        width: calc(100% / 3 - 30px);
        margin-right: 30px;
    }
}
.masters-card__bottom {
    margin-top: 30px;
}
.masters-card__name {
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: $mainTitleColor;

    margin-bottom: 8px;
}
.masters-card__text {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: $accentColor;

    margin-bottom: 30px;
}

.social-list {
    display: flex;
    height: 44px;
    justify-content: center;
}
.social-list__item {
    width: 44px;
    height: 44px;
    &:not(:last-child) {
        margin-right: 10px;
    }
}
.social-list__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: $whiteColor;

    &:hover,
    &:focus {
        background-color: $accentColor;
    }
    transition: background-color 250ms linear;
}

// Иконка соц.сетей при ховере меняется фон и fill svg
.social-list__icon {
    fill: currentColor;

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: $whiteColor;
    }
    transition: fill 250ms linear;
}
