// Ширина экранов
$mobWidth: 480px;
$tabletWidth: 768px;
$desktopWidth: 1200px;

// Цвет текста
$mainTextColor: #555555;
$secondTextColor: #9da4bd;
$accentColor: #ff6c00;
$mainTitleColor: #303030;
$mainBtnColor: #303030;
$whiteColor: #ffffff;
